@use "../../App";

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__result {
    width: 300px;
    align-items: center;
    display: none;
    justify-content: center;

    &_open {
      display: flex;
    }
  }

  &__header {
    font-size: 50px;
    font-weight: 700;
  }
}

@media screen and (min-width: App.$screen-tab-1024) {
  .cards {
    &__result {
      width: 600px;
    }

    &__header{
      font-size: 80px;
    }
  }
}

@media screen and (min-width: App.$screen-tab-1366) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}