@use "./../App";

.container {
   display: flex;
  flex-direction: column;
  gap: 50px;

}

.info {
   color: blueviolet;
    font-size: 20px;
  font-family: App.$global-font;
  font-style: App.$global-font-style;
}

.logo {

}

.price {
display: flex;
  flex-direction: column;
  gap: 50px;
}

.button {
  display: flex;
  width: 169px;
  height: 44px;
  padding: 10px 52.22px 10px 52.21px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: App.$global-blue;
  color: App.$global-white;
}

.logo_img {
  background-color: blueviolet;
  width: 40px;
  height: 40px;
}

.results {
  font-size: 50px;
  display: none;
}
.results_open {
  display: block;
}